@import "../default.scss";
@import "../sidebar.scss";

.content-area .container {
  padding: 2rem;

  h1 {
    margin-bottom: 2.5rem;
    font-size: 27px;
    color: #262626;
  }

  .numbers-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .number {
      display: flex;
      align-items: center;
      padding: 25px 20px;
      min-width: 260px;
      margin-bottom: 2rem;
      margin-right: 15px;
      justify-content: space-evenly;

      .text-info {
        text-align: center;
        margin-right: 2rem;

        h3 {
          font-size: 25px;
        }

        p {
          font-size: 18px;
          font-family: "Inter";
          color: #323232;
        }
      }

      i {
        font-size: 50px;
      }
    }
  }
}

.normal {
  background-color: #eeeeee;
  outline: 3px solid #6d6d6d;

  i {
    color: #ec0836;
  }
}

.blue {
  background: #b0d6ff;
  outline: 3px solid #000c46;

  i {
    color: #0027ff;
  }
}

.orange {
  background: #ffc663;
  outline: 3px solid #934600;

  i {
    color: #b84400;
  }
}

.red {
  background: #ffaaaa;
  outline: 3px solid #880000;

  i {
    color: #d80000;
  }
}

.green {
  background: #cbffcb;
  outline: 3px solid #004600;

  i {
    color: #007900;
  }
}

.green {
  background: #cbffcb;
  outline: 3px solid #004600;

  i {
    color: #007900;
  }
}
