@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-15px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  margin: 1rem auto;
  min-width: fit-content;
  position: relative;

  @media screen and (max-width: 1280px) {
    max-width: 95vw;
  }

  .logo {
    height: 50px;
    margin: 0 1.5rem;
  }

  .container {
    display: flex;

    .account {
      margin-right: 20px;
    }
  }

  .categories,
  .account,
  .cart,
  .fav {
    display: flex;
    font-size: 20px;
    padding: 10px 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    align-items: center;

    p {
      margin: 0 10px;
    }

    &:hover {
      background: rgb(241, 241, 241);
      border-radius: 8px;
    }

    @media screen and (max-width: 1030px) {
      display: none;
    }
  }

  .cart {
    position: relative;

    span {
      position: absolute;
      top: -12%;
      right: -5%;
      background: #fd1745;
      border-radius: 30rem;
      font-size: 15px;
      font-weight: bold;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 10px;
    }
  }

  .search-box {
    min-width: 200px;
    width: 100%;
    background: rgb(233, 233, 233);
    border-radius: 15px;
    display: flex;
    outline: 2px solid transparent;
    transition: all 0.2s linear;
    margin: 0 2rem;
    overflow: hidden;

    input {
      padding: 14px 22px;
      border: none;
      width: 100%;
      display: inline-block;
      font-size: 16px;
      margin-right: 2rem;
      background: none;

      &::placeholder {
        color: rgb(125, 125, 125);
        font-weight: 600;
      }

      &:focus {
        outline: none;
      }

      @media screen and (max-width: 630px) {
        font-size: 14px;
      }
    }

    i {
      font-size: 17px;
      padding-left: 1rem;
      padding-right: 2rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.1s linear;

      &:hover {
        background-color: #ebebeb;
      }
    }

    &.active {
      background-color: rgb(246, 246, 246);
      outline: 2px solid #fd1745;
    }
  }

  padding: 1rem 0.5rem;
}

header .categories {
  position: relative;
  .cat-arr {
    transition: all 0.4s linear;
  }

  &.active {
    background: rgb(241, 241, 241);
    border-radius: 8px;
    .cat-arr {
      rotate: -180deg;
    }
  }

  .cat-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(103%);
    outline: 2px solid #4f4f4f;
    line-height: 4.5;
    width: 350px;
    background-color: white;
    z-index: 2;
    display: none;

    .option {
      border-bottom: 2px solid #4f4f4f;

      &:hover i {
        transform: rotate(90deg);
      }

      &:last-child {
        border-bottom: none;
      }

      .box,
      .sub-option {
        display: flex;
        align-items: center;
        padding: 0px 10px;
        background-color: white;
      }
    }

    .box:hover,
    .sub-option:hover {
      background-color: darken(#fff, 5%);
    }

    .sub-menu {
      transition: all 0.2s linear;
      height: 0px;
      overflow: hidden;
    }

    .option,
    .sub-option {
      text-decoration: none;
      color: black;

      img {
        width: 70px;
        margin-right: 10px;
        height: 60px;
        object-fit: cover;
        object-position: top;
      }

      p {
        font-size: 18px;
        margin-right: 15px;
      }
    }

    .sub-menu.active {
      height: fit-content;
    }
  }

  &.active .cat-menu {
    display: block;
  }
}

header .hamburger {
  margin-right: 1rem;
  display: none;

  @media screen and (max-width: 1030px) {
    display: block;
  }

  .menu-btn {
    div {
      height: 6px;
      width: 32px;
      background-color: #dc143c;
      margin-bottom: 5px;
      border-radius: 20rem;
      box-shadow: 0px 0px 5px #ffadad;
      transition: all 0.2s linear;
    }

    .middle-hand {
      animation-name: fadein;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: linear;
    }

    &.active {
      .middle-hand {
        animation-name: fadeout;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: linear;
      }

      .top-hand {
        rotate: 40deg;
        transform: translate(6px, 8px);
      }

      .bottom-hand {
        rotate: -40deg;
        transform: translate(7px, -10px);
      }
    }
  }
}

header .navigations {
  display: none;
  width: 70vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #f5f5f5;
  height: 100vh;
  z-index: 10;
  border: 2px solid #dc143c;
  transform: translateX(-100%);
  transition: all 0.4s linear;
  border: 3px solid #dc143c;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;

  @media screen and (max-width: 1030px) {
    display: block;
  }

  &.active {
    transform: translateX(0);
  }

  .link {
    display: flex;
    padding: 25px 30px;
    border-bottom: 4px solid #262626;
    transition: all 0.2s linear;
    cursor: pointer;

    i {
      font-size: 20px;
      font-size: 30px;
      margin-right: 2rem;
    }

    p {
      font-size: 25px;
    }

    &:hover {
      background: #dc143c;
      color: white;
      font-weight: bold;
    }
  }
}

header .search-results {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  max-height: 60vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #fd1745;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &.active {
    width: 100%;
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
    z-index: 10;
    background: white;
    transform: translateY(100%);
    outline: 2px solid #5a5a5a;
  }

  .container {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .result {
    display: flex;
    align-items: center;
    padding: 1rem 2.5rem;
    transition: all 0.2s linear;
    cursor: pointer;

    &:hover {
      background: #ededed;
    }

    .result-img {
      height: 85px;
      width: 110px;
      display: inline-block;
      background: #fff;
      padding: 10px;
      border-radius: 7px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .result-title {
      font-family: "INTER";
      word-spacing: 4px;
      color: #282828;
      margin-left: 1.5rem;
      max-width: 400px;

      @media screen and (max-width: 960px) {
        max-width: 300px;
      }

      @media screen and (max-width: 960px) {
        max-width: 250px;
      }
    }

    .reviews {
      display: flex;
      color: #fd1745;
      min-width: fit-content;
      margin: 0 3rem;

      span {
        color: black;
        font-weight: bold;
        margin-left: 10px;
        letter-spacing: 1px;
      }
    }

    .price {
      font-size: 20px;
      font-weight: bold;
      color: green;

      sup {
        color: black;
      }
    }
  }
}
