@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto Slab", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none;
  color: black; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  word-spacing: 2px; }

h2 {
  font-size: 33px;
  color: #1e1e1e;
  text-shadow: 1px 1px 2px #ff6767; }

input:focus, select:focus {
  outline: none; }

main {
  display: flex;
  min-height: 100vh;
  min-width: 100vw; }
  main .left {
    min-width: 350px;
    background: #ffeaee; }
  main .right {
    background-color: white;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column; }

.left {
  text-align: center;
  position: relative; }
  .left img {
    width: 200px;
    display: inline-block;
    margin: 2rem 0 3rem; }
  .left .nav-menu {
    width: fit-content;
    margin-left: auto; }
    .left .nav-menu .link {
      display: flex;
      align-items: center;
      padding: 20px 51px;
      border-top-left-radius: 20rem;
      border-bottom-left-radius: 20rem;
      font-family: "Inter", sans-serif;
      margin: 10px 0;
      color: #1e1e1e;
      cursor: pointer;
      transition: 0.4s ease-out; }
      .left .nav-menu .link i {
        font-size: 26px;
        margin-right: 1rem; }
      .left .nav-menu .link .text {
        font-size: 25px; }
      .left .nav-menu .link.active {
        background: #fd1745;
        color: white; }
        .left .nav-menu .link.active:hover {
          background: #fd1745; }
      .left .nav-menu .link:hover {
        background: #ffd1d9; }
  .left .logout {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 4rem;
    font-size: 20px;
    background: #474747;
    border: none;
    padding: 12px 30px;
    transform: translateX(-50%);
    border-radius: 10px;
    color: white;
    font-family: "Inter";
    box-shadow: 0px 0px 9px #a3a3a3;
    cursor: pointer;
    transition: all 0.2s ease-in; }
    .left .logout:hover {
      background-color: #1c1c1c; }

header {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  background: #ffeaee; }
  header button {
    border: none;
    font-size: 30px;
    color: white;
    margin-right: 2rem;
    background: #fd1345;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 50%;
    outline: 2px solid #ad0000;
    box-shadow: 0 0 10px #e3e3e3;
    transition: all 0.2s linear; }
    header button:hover {
      background: #fe5f81; }
  header .user-profile {
    display: flex;
    align-items: center;
    margin: 17px 21px;
    margin-left: auto; }
    header .user-profile img {
      height: 70px;
      border-radius: 50%;
      margin-right: 1rem; }
    header .user-profile .info .name {
      margin-bottom: 5px;
      font-family: "Inter", sans-serif; }
    header .user-profile .info .desc {
      color: #717171; }

header.active {
  padding-left: 0;
  z-index: 2;
  position: relative; }

.left.hidden {
  min-width: 100px; }
  .left.hidden img {
    visibility: hidden;
    width: 120px; }
  .left.hidden .nav-menu .link {
    padding: 20px 20px; }
    .left.hidden .nav-menu .link i {
      margin-right: 0; }
    .left.hidden .nav-menu .link .text {
      width: 0;
      overflow: hidden; }
  .left.hidden .logout {
    display: none; }

.box {
  position: relative;
  height: 100%; }

.container {
  display: flex;
  padding: 2rem 2rem 3rem; }
  .container select {
    font-size: 18px;
    outline: 3px solid #ff005a;
    border: none;
    padding: 7px 20px;
    border-radius: 30rem;
    background: #ffeef1;
    outline-offset: -1px; }
  .container .search-box {
    margin: 0 auto;
    background: #fff7f7;
    display: flex;
    align-items: center;
    outline: 3px solid #545454;
    padding-left: 20px;
    width: 60%;
    justify-content: space-between;
    border-radius: 20rem;
    overflow: hidden;
    outline-offset: -1px; }
    .container .search-box input {
      border: none;
      font-size: 17px;
      background: transparent;
      height: 100%;
      padding: 0 9px;
      width: 100%;
      font-family: "Inter";
      color: #505050; }
    .container .search-box i {
      font-size: 20px;
      color: white;
      background: #545454;
      padding: 14px 20px;
      cursor: pointer; }

.orders-container {
  max-height: 70vh;
  overflow-y: scroll;
  margin-right: 10px; }
  .orders-container::-webkit-scrollbar {
    width: 7px; }
  .orders-container::-webkit-scrollbar-thumb {
    background: #525252; }

.order {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid #c1c1c1;
  transition: all 0.1s linear;
  cursor: pointer;
  justify-content: space-between; }
  .order:first-child {
    border-top: 2px solid #c1c1c1; }
  .order:hover {
    background: #f6f6f6; }
  .order .box {
    display: flex;
    align-items: center; }
    .order .box .image {
      display: grid;
      text-align: center;
      margin-right: 3rem; }
      .order .box .image img {
        max-height: 150px;
        max-width: 150px;
        object-fit: cover; }
      .order .box .image .qty {
        font-size: 18px;
        font-weight: bold;
        margin-top: 1rem; }
        .order .box .image .qty span {
          font-weight: 300;
          color: green; }
  .order .info {
    line-height: 1.5;
    margin-right: 5rem; }
    .order .info .item {
      font-size: 20px;
      display: flex; }
      .order .info .item .tag {
        font-family: "Inter";
        margin-right: 15px;
        margin-bottom: 7px;
        color: #616161; }
      .order .info .item .value {
        font-family: "Inter"; }
  .order .status {
    padding: 10px 17px;
    font-size: 18px;
    padding-right: 0;
    font-family: "Inter";
    border: none; }
    .order .status.pen {
      background: #d2e8ff;
      outline: 3px solid #000c46; }
    .order .status.pro {
      background: #ffc663;
      outline: 3px solid #934600; }
    .order .status.com {
      background: #cbffcb;
      outline: 3px solid #004600; }
    .order .status.can {
      background: #ffaaaa;
      outline: 3px solid #880000; }
    .order .status .op-blue {
      background: #d2e8ff; }
    .order .status .op-orange {
      background: #ffc663; }
    .order .status .op-green {
      background: #cbffcb; }
    .order .status .op-red {
      background: #ffaaaa; }

.order-popup {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background: #fff3e3;
  padding: 2rem 2rem 5rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll; }
  .order-popup::-webkit-scrollbar {
    width: 8px; }
  .order-popup::-webkit-scrollbar-thumb {
    background-color: #e47d06; }
  .order-popup::-webkit-scrollbar-track {
    background-color: #f7f7f7; }
  .order-popup.active {
    display: block; }
  .order-popup .popup-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem; }
    .order-popup .popup-head button {
      font-size: 20px;
      padding: 8px 24px;
      background: #4a4a4a;
      border: none;
      color: white;
      font-family: "Inter";
      letter-spacing: 1px;
      border-radius: 40rem;
      outline: 2px solid #4a4a4a;
      outline-offset: 2px;
      cursor: pointer;
      transition: all 0.2s linear; }
      .order-popup .popup-head button:hover {
        background-color: #383838; }
    .order-popup .popup-head p {
      background: #ffb93a;
      padding: 8px 24px;
      border-radius: 4px;
      font-family: "Inter", sans-serif;
      font-size: 18px; }
      .order-popup .popup-head p span {
        font-family: "Roboto";
        font-weight: 700;
        margin-left: 5px; }
  .order-popup .popup-body .popup-date {
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin-bottom: 3rem; }
    .order-popup .popup-body .popup-date span {
      font-family: "Roboto Slab";
      font-weight: 100; }
  .order-popup .popup-body .order-product {
    display: flex;
    margin-bottom: 4rem; }
    .order-popup .popup-body .order-product .popup-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 2rem; }
      .order-popup .popup-body .order-product .popup-image img {
        height: 230px;
        background: white;
        padding: 15px;
        object-fit: cover;
        box-shadow: 0px 0px 13px #cbcaca;
        border-radius: 10px;
        overflow: hidden; }
      .order-popup .popup-body .order-product .popup-image a {
        display: inline-block;
        background: orange;
        color: black;
        padding: 7px 20px;
        margin-top: 1rem;
        border-radius: 20rem;
        outline-offset: 2px;
        font-weight: bold;
        border: 2px solid black; }
    .order-popup .popup-body .order-product .popup-info {
      line-height: 1.4; }
      .order-popup .popup-body .order-product .popup-info h1 {
        margin-bottom: 1rem; }
      .order-popup .popup-body .order-product .popup-info .popup-qty {
        width: fit-content;
        background: #343434;
        padding: 6px 15px;
        margin-top: 2rem;
        color: white;
        font-family: "Inter";
        word-spacing: 10px; }
  .order-popup .popup-foot .popup-status {
    font-size: 20px;
    font-weight: bold; }
    .order-popup .popup-foot .popup-status span {
      font-weight: 400;
      margin-left: 10px; }
  .order-popup .popup-foot .pop-info-container {
    display: grid;
    justify-content: center; }
    .order-popup .popup-foot .pop-info-container .popup-item {
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px; }
      .order-popup .popup-foot .pop-info-container .popup-item span {
        margin-left: 10px; }
  .order-popup .popup-foot .charges-chart {
    margin-top: 2rem;
    border: 3px solid #272727; }
    .order-popup .popup-foot .charges-chart h1 {
      color: white;
      border-bottom: 3px solid;
      padding: 7px;
      text-align: center;
      background: #272727; }
    .order-popup .popup-foot .charges-chart .charge {
      margin: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px; }
    .order-popup .popup-foot .charges-chart .charge.total, .order-popup .popup-foot .charges-chart .charge.revenue {
      margin: 0;
      background: #e4d100;
      padding: 1rem 2rem;
      font-family: "Inter";
      border-top: 3px solid #272727; }
    .order-popup .popup-foot .charges-chart .charge.revenue {
      background: #197e19;
      color: white; }

.name, .address, .popup-status span {
  text-transform: capitalize; }

.red {
  color: #d60000; }

.blue {
  color: #008994; }

.black {
  color: #0a0a0a; }

.orange {
  color: #db6c00; }

.green {
  color: #00b500; }

.not-found {
  margin: 2rem 4rem; }
